In [1]:
#Importing necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import datetime
import scipy.stats

In [2]:
# Loading data

data = pd.read_csv("D:\Internships\PwC\Data.csv", delimiter = ";")

In [3]:
# Reading data
data.head()

,Unnamed: 0,Origination Amount,31.05.2019,30.06.2019,31.07.2019,31.08.2019,30.09.2019,31.10.2019,30.11.2019,31.12.2019,...,31.03.2020,30.04.2020,31.05.2020,30.06.2020,31.07.2020,31.08.2020,30.09.2020,31.10.2020,30.11.2020,31.12.2020
0,31.05.2019,10018746.17,1443069.08,3332200.33,1328138.75,928085.74,736418.27,539403.31,427557.86,324459.32,...,116684.68,92699.67,63399.66,53265.12,37121.13,29787.10,24524.90,18085.94,16581.01,11442.97
1,30.06.2019,10868379.04,0.00,1392751.60,3011884.91,1237868.70,970929.28,892351.83,668767.02,505612.59,...,255222.42,198833.96,161996.73,138461.91,92346.68,79641.30,63457.44,52373.85,43374.70,37404.87
2,31.07.2019,10733932.61,0.00,0.00,1537650.24,2953335.55,1208316.08,879375.19,711016.84,658251.40,...,302575.54,258652.52,191798.05,170027.54,127574.33,110301.21,89766.69,64746.84,61408.92,50312.70
3,31.08.2019,12558727.02,0.00,0.00,0.00,1617681.94,4082016.00,1387474.94,1247623.59,886293.35,...,417223.56,336686.08,253556.20,200066.59,151859.74,109973.00,90228.14,70661.50,53102.83,47069.84
4,30.09.2019,14505071.44,0.00,0.00,0.00,0.00,1992242.84,3930445.60,1394620.78,1227905.58,...,628429.48,589692.85,457299.31,323764.87,288152.28,239872.99,192246.98,171550.69,142575.97,116853.05

In [4]:
data.shape

(20, 22)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          20 non-null     object
 1   Origination Amount  20 non-null     float64
 2   31.05.2019          20 non-null     float64
 3   30.06.2019          20 non-null     float64
 4   31.07.2019          20 non-null     float64
 5   31.08.2019          20 non-null     float64
 6   30.09.2019          20 non-null     float64
 7   31.10.2019          20 non-null     float64
 8   30.11.2019          20 non-null     float64
 9   31.12.2019          20 non-null     float64
 10  31.01.2020          20 non-null     float64
 11  29.02.2020          20 non-null     float64
 12  31.03.2020          20 non-null     float64
 13  30.04.2020          20 non-null     float64
 14  31.05.2020          20 non-null     float64
 15  30.06.2020          20 non-null     float64
 16  31.07.2020          20 non-null     float64
 17  31.08.2020          20 non-null     float64
 18  30.09.2020          20 non-null     float64
 19  31.10.2020          20 non-null     float64
 20  30.11.2020          20 non-null     float64
 21  31.12.2020          20 non-null     float64
dtypes: float64(21), object(1)
memory usage: 3.6+ KB

In [6]:
data.describe()

,Origination Amount,31.05.2019,30.06.2019,31.07.2019,31.08.2019,30.09.2019,31.10.2019,30.11.2019,31.12.2019,31.01.2020,...,31.03.2020,30.04.2020,31.05.2020,30.06.2020,31.07.2020,31.08.2020,30.09.2020,31.10.2020,30.11.2020,31.12.2020
count,2.000000e+01,2.000000e+01,2.000000e+01,2.000000e+01,2.000000e+01,2.000000e+01,2.000000e+01,2.000000e+01,2.000000e+01,2.000000e+01,...,2.000000e+01,2.000000e+01,2.000000e+01,2.000000e+01,2.000000e+01,2.000000e+01,2.000000e+01,2.000000e+01,2.000000e+01,2.000000e+01
mean,1.993947e+07,7.215345e+04,2.362476e+05,2.938837e+05,3.368486e+05,4.494961e+05,4.959252e+05,5.647112e+05,6.151066e+05,6.492985e+05,...,7.575761e+05,8.305650e+05,8.533581e+05,9.565448e+05,1.005886e+06,9.749524e+05,1.044697e+06,9.591175e+05,1.078137e+06,1.057797e+06
std,6.563824e+06,3.226801e+05,7.923004e+05,7.770531e+05,7.767479e+05,1.014007e+06,1.014547e+06,1.143841e+06,1.159722e+06,1.214030e+06,...,1.457239e+06,1.517052e+06,1.573937e+06,1.811136e+06,2.054033e+06,1.860876e+06,1.959497e+06,1.672878e+06,2.055731e+06,1.978896e+06
min,1.001875e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.144297e+04
25%,1.495705e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.784085e+04,6.717775e+04,8.318938e+04,6.918283e+04,1.222842e+05,1.186583e+05
50%,2.042265e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.859535e+05,2.287432e+05,2.226771e+05,2.619157e+05,3.234118e+05,2.956650e+05,3.389235e+05,3.414432e+05,3.407094e+05,4.033075e+05
75%,2.557838e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.841046e+05,6.243963e+05,6.793295e+05,7.152619e+05,7.556176e+05,...,8.053226e+05,8.362175e+05,8.416480e+05,9.116699e+05,9.665936e+05,9.852002e+05,1.030446e+06,9.565251e+05,1.003413e+06,9.841216e+05
max,3.048298e+07,1.443069e+06,3.332200e+06,3.011885e+06,2.953336e+06,4.082016e+06,3.930446e+06,4.682354e+06,4.637702e+06,4.947764e+06,...,6.142911e+06,6.228478e+06,6.476252e+06,7.636996e+06,8.983764e+06,8.030091e+06,8.374135e+06,7.065477e+06,8.752707e+06,8.383025e+06

In [7]:
# To compute the historical repayment percentages
#Since, the Unnamed column contains dates

df = data.drop(['Unnamed: 0'], axis = 1)

In [8]:
percentages = round(df.div(df['Origination Amount'], axis = 'index') * 100 ,2)
percentages.head()

,Origination Amount,31.05.2019,30.06.2019,31.07.2019,31.08.2019,30.09.2019,31.10.2019,30.11.2019,31.12.2019,31.01.2020,...,31.03.2020,30.04.2020,31.05.2020,30.06.2020,31.07.2020,31.08.2020,30.09.2020,31.10.2020,30.11.2020,31.12.2020
0,100.0,14.4,33.26,13.26,9.26,7.35,5.38,4.27,3.24,2.37,...,1.16,0.93,0.63,0.53,0.37,0.30,0.24,0.18,0.17,0.11
1,100.0,0.0,12.81,27.71,11.39,8.93,8.21,6.15,4.65,3.86,...,2.35,1.83,1.49,1.27,0.85,0.73,0.58,0.48,0.40,0.34
2,100.0,0.0,0.00,14.33,27.51,11.26,8.19,6.62,6.13,4.69,...,2.82,2.41,1.79,1.58,1.19,1.03,0.84,0.60,0.57,0.47
3,100.0,0.0,0.00,0.00,12.88,32.50,11.05,9.93,7.06,5.53,...,3.32,2.68,2.02,1.59,1.21,0.88,0.72,0.56,0.42,0.37
4,100.0,0.0,0.00,0.00,0.00,13.73,27.10,9.61,8.47,6.48,...,4.33,4.07,3.15,2.23,1.99,1.65,1.33,1.18,0.98,0.81

In [9]:
# Now the origination amount has become 100% so we need it to revert back to its original value

percentages['Origination Amount'] = data['Origination Amount']

In [10]:
percentages.head()

,Origination Amount,31.05.2019,30.06.2019,31.07.2019,31.08.2019,30.09.2019,31.10.2019,30.11.2019,31.12.2019,31.01.2020,...,31.03.2020,30.04.2020,31.05.2020,30.06.2020,31.07.2020,31.08.2020,30.09.2020,31.10.2020,30.11.2020,31.12.2020
0,10018746.17,14.4,33.26,13.26,9.26,7.35,5.38,4.27,3.24,2.37,...,1.16,0.93,0.63,0.53,0.37,0.30,0.24,0.18,0.17,0.11
1,10868379.04,0.0,12.81,27.71,11.39,8.93,8.21,6.15,4.65,3.86,...,2.35,1.83,1.49,1.27,0.85,0.73,0.58,0.48,0.40,0.34
2,10733932.61,0.0,0.00,14.33,27.51,11.26,8.19,6.62,6.13,4.69,...,2.82,2.41,1.79,1.58,1.19,1.03,0.84,0.60,0.57,0.47
3,12558727.02,0.0,0.00,0.00,12.88,32.50,11.05,9.93,7.06,5.53,...,3.32,2.68,2.02,1.59,1.21,0.88,0.72,0.56,0.42,0.37
4,14505071.44,0.0,0.00,0.00,0.00,13.73,27.10,9.61,8.47,6.48,...,4.33,4.07,3.15,2.23,1.99,1.65,1.33,1.18,0.98,0.81

In [11]:
# Now, we need to bring the unnamed column back to the percentages dataframe
index = 0 #index of unnamed column in data dataframe
percentages.insert(loc = index,column = 'Unnamed: 0', value = data['Unnamed: 0'])

In [12]:
percentages.head()

,Unnamed: 0,Origination Amount,31.05.2019,30.06.2019,31.07.2019,31.08.2019,30.09.2019,31.10.2019,30.11.2019,31.12.2019,...,31.03.2020,30.04.2020,31.05.2020,30.06.2020,31.07.2020,31.08.2020,30.09.2020,31.10.2020,30.11.2020,31.12.2020
0,31.05.2019,10018746.17,14.4,33.26,13.26,9.26,7.35,5.38,4.27,3.24,...,1.16,0.93,0.63,0.53,0.37,0.30,0.24,0.18,0.17,0.11
1,30.06.2019,10868379.04,0.0,12.81,27.71,11.39,8.93,8.21,6.15,4.65,...,2.35,1.83,1.49,1.27,0.85,0.73,0.58,0.48,0.40,0.34
2,31.07.2019,10733932.61,0.0,0.00,14.33,27.51,11.26,8.19,6.62,6.13,...,2.82,2.41,1.79,1.58,1.19,1.03,0.84,0.60,0.57,0.47
3,31.08.2019,12558727.02,0.0,0.00,0.00,12.88,32.50,11.05,9.93,7.06,...,3.32,2.68,2.02,1.59,1.21,0.88,0.72,0.56,0.42,0.37
4,30.09.2019,14505071.44,0.0,0.00,0.00,0.00,13.73,27.10,9.61,8.47,...,4.33,4.07,3.15,2.23,1.99,1.65,1.33,1.18,0.98,0.81

In [13]:
# Now we need to rename the column of Unnamed to Credit date

percentages = percentages.rename(columns = {'Unnamed: 0':'Credit Date'})

In [14]:
percentages.head()

,Credit Date,Origination Amount,31.05.2019,30.06.2019,31.07.2019,31.08.2019,30.09.2019,31.10.2019,30.11.2019,31.12.2019,...,31.03.2020,30.04.2020,31.05.2020,30.06.2020,31.07.2020,31.08.2020,30.09.2020,31.10.2020,30.11.2020,31.12.2020
0,31.05.2019,10018746.17,14.4,33.26,13.26,9.26,7.35,5.38,4.27,3.24,...,1.16,0.93,0.63,0.53,0.37,0.30,0.24,0.18,0.17,0.11
1,30.06.2019,10868379.04,0.0,12.81,27.71,11.39,8.93,8.21,6.15,4.65,...,2.35,1.83,1.49,1.27,0.85,0.73,0.58,0.48,0.40,0.34
2,31.07.2019,10733932.61,0.0,0.00,14.33,27.51,11.26,8.19,6.62,6.13,...,2.82,2.41,1.79,1.58,1.19,1.03,0.84,0.60,0.57,0.47
3,31.08.2019,12558727.02,0.0,0.00,0.00,12.88,32.50,11.05,9.93,7.06,...,3.32,2.68,2.02,1.59,1.21,0.88,0.72,0.56,0.42,0.37
4,30.09.2019,14505071.44,0.0,0.00,0.00,0.00,13.73,27.10,9.61,8.47,...,4.33,4.07,3.15,2.23,1.99,1.65,1.33,1.18,0.98,0.81

In [17]:
# Now we need to compute the total sum of percentages 
#So, for that we need to drop the columns credit Date & Originatiion Amount

percentages_sum = percentages.drop(columns = ['Credit Date','Origination Amount'], axis = 0)
percentages_sum.head()

,31.05.2019,30.06.2019,31.07.2019,31.08.2019,30.09.2019,31.10.2019,30.11.2019,31.12.2019,31.01.2020,29.02.2020,31.03.2020,30.04.2020,31.05.2020,30.06.2020,31.07.2020,31.08.2020,30.09.2020,31.10.2020,30.11.2020,31.12.2020
0,14.4,33.26,13.26,9.26,7.35,5.38,4.27,3.24,2.37,1.68,1.16,0.93,0.63,0.53,0.37,0.30,0.24,0.18,0.17,0.11
1,0.0,12.81,27.71,11.39,8.93,8.21,6.15,4.65,3.86,3.03,2.35,1.83,1.49,1.27,0.85,0.73,0.58,0.48,0.40,0.34
2,0.0,0.00,14.33,27.51,11.26,8.19,6.62,6.13,4.69,3.94,2.82,2.41,1.79,1.58,1.19,1.03,0.84,0.60,0.57,0.47
3,0.0,0.00,0.00,12.88,32.50,11.05,9.93,7.06,5.53,4.55,3.32,2.68,2.02,1.59,1.21,0.88,0.72,0.56,0.42,0.37
4,0.0,0.00,0.00,0.00,13.73,27.10,9.61,8.47,6.48,5.54,4.33,4.07,3.15,2.23,1.99,1.65,1.33,1.18,0.98,0.81

In [18]:
#Now we will compute the sum of percentages in a new column Percent_Sum
percentages_sum['Percent_sum'] = percentages_sum.sum(axis = 1)
percentages_sum.head()

,31.05.2019,30.06.2019,31.07.2019,31.08.2019,30.09.2019,31.10.2019,30.11.2019,31.12.2019,31.01.2020,29.02.2020,...,30.04.2020,31.05.2020,30.06.2020,31.07.2020,31.08.2020,30.09.2020,31.10.2020,30.11.2020,31.12.2020,Percent_sum
0,14.4,33.26,13.26,9.26,7.35,5.38,4.27,3.24,2.37,1.68,...,0.93,0.63,0.53,0.37,0.30,0.24,0.18,0.17,0.11,99.09
1,0.0,12.81,27.71,11.39,8.93,8.21,6.15,4.65,3.86,3.03,...,1.83,1.49,1.27,0.85,0.73,0.58,0.48,0.40,0.34,97.06
2,0.0,0.00,14.33,27.51,11.26,8.19,6.62,6.13,4.69,3.94,...,2.41,1.79,1.58,1.19,1.03,0.84,0.60,0.57,0.47,95.97
3,0.0,0.00,0.00,12.88,32.50,11.05,9.93,7.06,5.53,4.55,...,2.68,2.02,1.59,1.21,0.88,0.72,0.56,0.42,0.37,97.27
4,0.0,0.00,0.00,0.00,13.73,27.10,9.61,8.47,6.48,5.54,...,4.07,3.15,2.23,1.99,1.65,1.33,1.18,0.98,0.81,92.65

In [20]:
#Computing the remaining amount from the origination Amount

percentages_sum['Remaining_Amount'] = percentages['Origination Amount']*(100 - percentages_sum['Percent_sum'])
remaining_amount = round(percentages_sum['Remaining_Amount'].sum(axis = 0),2)

In [21]:
print(f'So, as of 31 December 2020, the remaining CHF is {remaining_amount}')

So, as of 31 December 2020, the remaining CHF is 12066845588.07

In [71]:
# Visualization of the various variables
import dataframe_image as dfi

dataframe_img = percentages.style.background_gradient(cmap='ocean_r')
dataframe_img